@import url('https://fonts.googleapis.com/css?family=Pacifico');

html,body
{
    margin: 0;
    padding: 0;
   
}

.outer
{
    width: 100%;
    background-color: #eee;

}

.container
{
    display: flex;
    height: 80%;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 20px;
   
    

}

h1,p
{
    text-align: center;
    font-family: sans-serif;
    color: #757575; 
    margin: 5px;
}

.textOverImage
{
    
    width: 230px;
    height: 230px;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    filter: grayscale(100%);

    
    
   
    
}
.textOverImage:hover
{
    background-size: 130% 110%;
    filter: none;
}


.social 
{
    display: flex;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.social a
{
    padding: 0 19px;
    color: #e53935;
    transition: 0.3s;
    cursor: pointer;
    
}
.social a:hover
{
    color:rgba(229, 57, 53, 0.6);
    transform: scale(1.2);
    
}

